@mixin flex($align-item, $justify-content) {
   display: flex;
   align-items: $align-item;
   justify-content: $justify-content;
}

@mixin pclow {
   @media screen and (max-width: $max-lg-width) {
       @content;
   };
};

@mixin tablet {
   @media screen and (max-width: $max-tablet-width) {
       @content;
   };
};

@mixin mobile {
   @media screen and (max-width: $max-mobile-width) {
       @content;
   };
};



