$main-bg: #ffffff;
$main-color: #6953A8;
$second-color: #1a73e8;


$txt-main-color: #333;
$txt-second-color: #999;
$txt-white: #fff;

$btn-main-bg: $main-color;
$btn-main-text: $main-bg;

$header-height: 110px;
$header-tablet-height: 70px;
$header-mobile-height: 60px;
$header-shrink-height: 80px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// $min-mobile-width: 320px;
$max-mobile-width: 480px;
// $min-tablet-width: 481px;
$max-tablet-width: 768px;
// $min-lg-width: 769px;
$max-lg-width: 1024px;
