
.header {
    &.shrink{
            height: $header-shrink-height;
            background-color: #fff;
            box-shadow: $box-shadow;
            .header__logo{
                inset: 0;
                img{
                    height: 50px;
                }
        }
        .header__menu__mobile{
            top: $header-shrink-height;
        }
    }
    .container{
        @include flex(center, space-between)
    }
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: $header-height;
    transition: height 0.3s ease, background-color 0.3s ease;
    @include flex(center, center);

    @include tablet {
        height: $header-tablet-height !important;
        background-color: #fff;
        box-shadow: $box-shadow;
        .header__logo{
            inset: 0;
            img{
                height: 30px !important;
            }
    }  
    }
    @include mobile {
        height: $header-mobile-height !important;
        background-color: #fff;
        box-shadow: $box-shadow;
        .header__logo{
            inset: 0;
            img{
                height: 30px !important;
            }
    }

    }

    &__logo{
        inset: 0;
        width: 200px;
        img{
            height: 55px;
            transition: height 0.3s ease-in;
        }
    }
    &__menu{
        &__left{
            @include pclow {
                display: none
            }
            @include flex(center, space-between);
            width: 300px;
            margin-right: 50px;
            font-weight: 500;
            &__item{
                    color: $txt-main-color;
                    transition: color 0.1s linear;
                    &:hover{
                    color: $main-color;
                    }
            }
        }
        &__right{
            @include flex(center, center);
            &__contact{
                @include mobile{
                    display: none;
                }
                @include flex(center, center);
                img{
                    width: 30px;
                    margin-right: 12px;
                    @include tablet {
                        width: 20px;
                    }
                }
                span{
                    font-size: 18px;
                    font-weight: 500;
                    color: $txt-main-color;
                    @include tablet {
                        font-size: 14px;
                    }
                }
            }
        }
        &__mobile-toggle{
            display: none;
            @include pclow{
                display: block;
            }
            i{
                margin-left: 22px;
                font-size: 40px;
                cursor: pointer;
            }
        }
        &__mobile{
            
            position: absolute;
            top: $header-height;
            left: 0;
            right: 0;
            transform: scaleY(0);
            opacity: 0;
            transform-origin: top;
            transition: transform 0.2s linear, opacity 0.2s linear;
            background-color: #fff;
            @include tablet{
                top: $header-tablet-height;
            }
            @include mobile{
                top: $header-mobile-height;
            }
            
            .container{
                @include flex(flex-start, center);
                flex-direction: column;
            }
            &__item{
                cursor: pointer;
                width: 100%;
                padding: 14px 0;
                border-bottom: 1px solid rgba(5,5,5, 0.1);
                font-weight: 500;
                color: $txt-main-color;
                transition: color 0.1s linear;
                &:last-child{
                    border: none;
                }
                &:hover{
                    color: $main-color;
                }
            }
        }
    }
}